@use "src/styles/colors.scss" as colors;

.DescriptionBox {
    width: 82%;
    border-radius: 5px ;
    border: 1px solid colors.$ultralight-gray;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    .description-contain {
        margin: 4% 14% 3.5% 12%;
        p{
            padding-top: 12px;
        }
    }
}