@use "src/styles/colors.scss" as colors;
@use "src/styles/fonts.scss" as fonts;

footer img {
    margin-left: 0;
}

footer span {
    position: relative;
    bottom: 4px;
}

.center-con {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.round {
    position: absolute;
    left: 90px;
    bottom: 100px;
    border: 1px solid colors.$medium-gray;
    width: 40px;
    height: 40px;
    border-radius: 100%;

    p {
        position: absolute;
        white-space: nowrap;
        font-size: 14px;
        bottom: 0;
        left: 60px;
        color: colors.$medium-gray;
        text-transform: uppercase;
    }
}

.round:hover {
    cursor: pointer;
    border: 1px solid colors.$yellow;

    p {
        color: colors.$yellow;
    }
}

#cta {
    width: 100%;
    cursor: pointer;
    position: absolute;
}

#cta .arrow {
    left: 30%;
}

.arrow {
    position: absolute;
    bottom: 0;
    margin-left: 2px;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 12px;
}

.segunda {
    margin-top: 8px;
    margin-left: 2px;
}

.next {
    background: url(../assets/arrow.svg);
    filter: invert(5%) sepia(0%) saturate(1113%) hue-rotate(138deg) brightness(80%) contrast(85%);
}

@keyframes bounceAlpha {
    0% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }

    25% {
        opacity: 0;
        transform: translateY(10px) scale(0.9);
    }

    26% {
        opacity: 0;
        transform: translateY(-10px) scale(0.9);
    }

    55% {
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}


.round:hover .arrow {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    filter: invert(3%) sepia(31%) saturate(5701%) hue-rotate(325deg) brightness(101%) contrast(102%);

}

.round:hover .arrow.primera {
    animation-name: bounceAlpha;
    animation-duration: 1.4s;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}