/* --- FONT --- */
$carbona-font: "carbona-variable", sans-serif;

/*** FONT VARIATION SETTINGS ***/
$carbona-extralight: 'wght' 200;
$carbona-light: 'wght' 300;
$carbona-regular: 'wght' 400;
$carbona-bold: 'wght' 500;
