@use "src/styles/colors.scss" as colors;
@use "src/styles/fonts.scss" as fonts;
@import "src/styles/root.scss";
@import url("https://use.typekit.net/afv3vni.css");


/* ------------- SELECTION COLOR  ------------------ */

::-moz-selection {
  /* Code for Firefox */
  color: colors.$light-black;
  background-color: colors.$light-yellow;
}

::selection {
  color: colors.$light-black;
  background-color: colors.$light-yellow;
}


/* ------------- ANIMATIONS  ------------------ */

.revealUp {
  opacity: 0;
  visibility: hidden;
}

/* -------------- HEADER HOME  ------------------ */

.App {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
  scroll-behavior: smooth;
}

.app-header {
  background-image: linear-gradient(to right, #000000, #040404, #080808, #0c0c0c, #0f0f0f);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.text-header-contain {
  text-align: left;
  width: 40vw;
  padding: 40px 0 0 0;
}

.hl-text {
  font-size: 70px;
  font-variation-settings: fonts.$carbona-light;
  line-height: 80px;
  letter-spacing: -1px;
  color: colors.$white;
  margin: 0;
}

.hl-text-reveal {
  opacity: 0;
  visibility: hidden;
}

.hl-text span {
  color: colors.$yellow;
  font-variation-settings: 'wght' 400;
}

.sh-text {
  padding: 20px 0 0 0;
  font-variation-settings: 'wght' 400;
  font-size: 28px;
  letter-spacing: -0.75px;
  margin: 0;
  color: colors.$yellow;
}

.text-header {
  padding: 15px 0 0 0;
  font-variation-settings: 'wght' 400;
  font-size: 17px;
  line-height: 26px;
}

.divider-hl {
  border-radius: 50px;
  background-color: colors.$light-gray;
  width: 300px;
  height: 2px;
}

.img-header-contain {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-header {
  height: auto;
  width: 85%;
  object-fit: cover;
}

/* --- BUTTON --- */


button {
  background: none;
  font-family: fonts.$carbona-font;
  border: 0;
  box-sizing: border-box;
  margin: 1em;
  padding: 0.5em 0.75em 0.4em 0.75em;
  box-shadow: inset 0 0 0 1px #4d4d4d;
  color: #4d4d4d;
  font-size: inherit;
  font-variation-settings: fonts.$carbona-regular;
  font-size: 25px;
  position: relative;
  top: 100px;
  left: 0px;
  cursor: pointer;
}

button::before,
button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.draw {
  transition: color 0.10s;
}

.draw:active {
  transform: scale(0.95);
  transition: cubic-bezier(0.075, 0.82, 0.165, 0.5);
}

.draw::before,
.draw::after {
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.draw::before {
  top: 0;
  left: 0;
}

.draw::after {
  bottom: 0;
  right: 0;
}

.draw:hover::before,
.draw:hover::after {
  width: 100%;
  height: 100%;
}

.draw:hover::before {
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.draw:hover::after {
  border-bottom-color: #60daaa;
  border-left-color: #60daaa;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}

.meet:hover {
  color: colors.$yellow;
}

.meet::after {
  top: 0;
  left: 0;
}

.meet:hover::before {
  border-top-color: colors.$yellow;
  border-right-color: colors.$yellow;
}

.meet:hover::after {
  border-bottom-color: colors.$yellow;
  border-left-color: colors.$yellow;
  transition: height 0.25s ease-out, width 0.25s ease-out 0.25s;
}


/* -------------- WORK  ------------------ */

.header-work {
  background-color: red;
  height: 100vh;
}

.sectiontest {
  background-color: red;
  width: 100%;
  height: 100vh;

}