@use "src/styles/colors.scss" as colors;
@use "src/styles/fonts.scss" as fonts;
@import "src/styles/root.scss";
@import url("https://use.typekit.net/afv3vni.css");


/* ------------- SELECTION COLOR  ------------------ */

::-moz-selection {
  /* Code for Firefox */
  color: colors.$light-black;
  background-color: colors.$light-yellow;
}

::selection {
  color: colors.$light-black;
  background-color: colors.$light-yellow;
}


/* ------------- ANIMATIONS  ------------------ */

.revealUp {
  opacity: 0;
  visibility: hidden;
}

/* -------------- HEADER HOME  ------------------ */

.App {
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory; 
}

.app-header {
  background-image: linear-gradient(to right, #000000, #040404, #080808, #0c0c0c, #0f0f0f);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  scroll-snap-align: center;
}

.text-header-contain {
  text-align: left;
  width: 40vw;
  padding: 40px 0 0 0;
}

.hl-text {
  font-size: 70px;
  font-variation-settings: fonts.$carbona-light;
  line-height: 80px;
  letter-spacing: -1px;
  color: colors.$white;
  margin: 0;
}

.hl-text-reveal {
  opacity: 0;
  visibility: hidden;
}

.hl-text span {
  color: colors.$yellow;
  font-variation-settings: 'wght' 400;
}

.sh-text {
  padding: 20px 0 0 0;
  font-variation-settings: 'wght' 400;
  font-size: 28px;
  letter-spacing: -0.75px;
  margin: 0;
  color: colors.$yellow;
}

.text-header {
  padding: 15px 0 0 0;
  font-variation-settings: 'wght' 400;
  font-size: 17px;
  line-height: 26px;
}

.divider-hl {
  border-radius: 50px;
  background-color: colors.$light-gray;
  width: 300px;
  height: 2px;
}

.img-header-contain {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-header {
  height: auto;
  width: 85%;
  object-fit: cover;
}




/* -------------- WORK  ------------------ */

.header-work {
  background-color: red;
  height: 100vh;
}

.sectiontest {
  background-color: red;
  width: 100%;
  height: 100vh;

}