@use "src/styles/colors.scss" as colors;
@use "src/styles/fonts.scss" as fonts;

/* -------------- HABILITIES SECTION  ------------------ */

.habilities-section {
    background-image: colors.$yellow;
    height: 100vh;
    width: auto;
  

    .layout-contain {
        margin: 100px 95px 100px 95px;
        align-items: flex-end;
        justify-content: center;
        display: flex;
        flex-direction: column;

        .software-container,
        .hability-container {
            width: 100%;
            margin: 0;
            height: 45%;


            h1.section-title {
                padding: 30px 0 30px 0;
                text-align: left;
            }

            h4 {
                text-align: left;

            }



        }
    }

    /* --- ROUNDED PROGRESS --- */

    .rounded-progresses {
        margin: 0 -25px 0 -25px;
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px;
        align-items: center;
        justify-content: space-between;

        div.progress-rounded-contain {
            padding: 0 0 0 0;
            margin: 0;
            width: 150px;
            height: 150px;
            position: relative;

            .rounded-progress-animation {
                position: absolute;
                top: 0;
                left: 0;
                transform: translate(-50%, -50%);
            }

            p.software-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 25px;
                color: colors.$dark-gray;
            }
        }
    }

    /* --- LINEAR PROGRESS --- */

    .linear-progress-animation {
        margin: 0;
    }

    .linear-progresses {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
      
        .progresses-layout {
          width: 50%;
          display: inline-block;
          box-sizing: border-box;
          padding: 10px;
          background-color: aqua;
      
          .linear-progress-contain {
            position: relative;
            top: -30px;
            left: -20px;
            bottom: 400px;
            width: 600px;
            height: 33px;
          }
      
          p {
            position: relative;
            top: 10px;
            text-align: left;
          }
        }
      }
      
      
}


// .linear-progress-animation {
//     position: flex;
//     top: 0;
//     left: 0;
//     transform: translate(-50%, -50%);
// }

// .linear-progresses {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     flex-direction: column;
//     flex-wrap: wrap;
//     padding: 0;
//     align-items: flex-start;
//     justify-content: flex-start;
//     background-color: aqua;

//     div.linear-progress-contain {
//         padding: 0;
//         margin: 0;
//         width: 50%;
//         height: auto;
//         background-color: azure;
//     }
// }