@use "src/styles/colors.scss" as colors;
@use "src/styles/fonts.scss" as fonts;

/* -------------- HABILITIES SECTION  ------------------ */

.habilities-section {
    background-color: colors.$white;
    height: 100vh;
    width: auto;
    display: block;


    .layout-contain {
        display: inline-block;
        margin: 150px 95px 0px 95px !important;


        .software-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0 0 0 0;
            height: 40%;


            h1.section-title {
                padding: 15px 0 10px 0;
                text-align: left;
            }

            h4 {
                padding: 0 0 0 0;
                text-align: left;

            }

        }

    }

    .hability-container {
        width: 100%;
        margin: 0px 0 0 0;
        height: 40%;


        h1.section-title {
            padding: 15px 0 10px 0;
            text-align: left;
        }

        h4 {
            padding: 30px 0 0 0;
            text-align: left;

        }



    }
}

/* --- ROUNDED PROGRESS --- */

.rounded-progresses {
    margin: 0 0 0 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;

    div.progress-rounded-contain {
        padding: 35px 0 0 0;
        margin: 0 0 0 0;
        background-size: contain;
        width: 110px;
        height: 110px;
        position: relative;

        .rounded-progress-animation {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
        }

        p.software-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 22px;
            color: colors.$dark-gray;
        }
    }
}

/* --- LINEAR PROGRESS --- */

.linear-progress-animation {
    margin: 0;
}

.linear-progresses {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;

    .progresses-layout {
        width: 46%;
        display: inline-block;
        box-sizing: border-box;
        padding: 30px 0 0 0 ;

        .linear-progress-contain {
            position: relative;
            top: -20px;
            left: -10px;
            bottom: 400px;
            width: 800px;
            height: 10px;
        }

        p {
            position: relative;
            top: 12px;
            left: -5px;
            text-align: left;
        }
    }
}





// .linear-progress-animation {
//     position: flex;
//     top: 0;
//     left: 0;
//     transform: translate(-50%, -50%);
// }

// .linear-progresses {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     flex-direction: column;
//     flex-wrap: wrap;
//     padding: 0;
//     align-items: flex-start;
//     justify-content: flex-start;
//     background-color: aqua;

//     div.linear-progress-contain {
//         padding: 0;
//         margin: 0;
//         width: 50%;
//         height: auto;
//         background-color: azure;
//     }
// }