@import url("https://use.typekit.net/afv3vni.css");

/* ------------- VARIABLES  ------------------ */

:root {
  /* --- COLORS --- */
  --color-white: #D6D6D6;
  --color-light-gray: #B9B9B9;
  --color-yellow: #FFD635;
  --color-light-yellow: rgba(255, 214, 53, 0.8);
  --color-light-black: #0f0f0f;

  /* --- FONT --- */
  --carbona-font: "carbona-variable", sans-serif;

  /*** FONT VARIATION SETTINGS ***/
  --carbona-light: 'wght' 200;
  --carbona-regular: 'wght' 400;
  --carbona-bold: 'wght' 500;
}

/* ------------- SELECTION COLOR  ------------------ */

::-moz-selection {
  /* Code for Firefox */
  color: var(--color-light-black);
  background-color: var(--color-light-yellow);
}

::selection {
  color: var(--color-light-black);
  background-color: var(--color-light-yellow);
}



/* ------------- GENERAL STYLES  ------------------ */

body {
  margin: 0;
}

section{
  scroll-snap-align: center; 
}

a {
  text-decoration: none;
}

p {
  font-variation-settings: 'wght' 400, 'MONO' 0, 'slnt' 0;
  color: var(--color-light-gray);
  font-size: 18px;
  line-height: 35px;
  letter-spacing: -0.24px;
}

h1 {
  font-variation-settings: var(--carbona-light);
  color: var(--color-white);
  font-size: 35px;
  line-height: 35px;
  letter-spacing: -0.1px;
}

strong {
  font-variation-settings: 'wght' 500;
}



/* ------------- NAVBAR  ------------------ */

.navbar-container {
  text-align: center;
  background-color: none;
  padding: 10px;
  font-size: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar-container ul {
  margin: 0;
  padding: 20px;
  text-align: right;
  display: inline-block;
  vertical-align: middle;
}

.navbar-container ul li {
  display: inline-block;
  font-size: 18px;
  padding: 0 35px;
}

.navbar-container ul li a {
  color: var(--color-light-gray);
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  transition: color 0.5s;
}

.navbar-container ul li .underline {
  border-radius: 50px;
  height: 2px;
  background-color: var(--color-white);
  width: 0%;
  transition: width 0.2s, background-color 0.5s;
  margin: 0 auto;
}

.navbar-container ul li.active-link .underline {
  width: 100%;
  background-color: var (--color-white);
  color: var(--color-white);
}

.navbar-container ul li:hover .underline {
  background-color: var(--color-light-yellow);
  width: 100%;
}

.navbar-container ul li:hover a {
  font-variation-settings: var(--carbona-bold);
  color: var(--color-light-yellow);
}

.navbar-container ul li:active a {
  transition: none;
  color: var(--color-white);
  font-variation-settings: var(--carbona-bold);
}

li.nav-link.active-link>a {
  color: var(--color-white);
  font-variation-settings: var(--carbona-bold);
}

.navbar-container ul li:active .underline {
  transition: none;
  background-color: var(--color-white);
}

/* -------------- HEADER HOME  ------------------ */

.App {
  text-align: center;
  font-family: var(--carbona-font);
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.app-header {
  background-image: linear-gradient(to right, #000000, #040404, #080808, #0c0c0c, #0f0f0f);
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; 
  scroll-snap-align: center; 
}

.text-header-contain {
  text-align: left;
  width: 40vw;
}

.hl-text {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -1px;
  color: var(--color-white);
  margin: 0;
}

.sh-text {
  padding: 15px 0 35px 0;
  font-variation-settings: 'wght' 300;
  font-size: 28px;
  letter-spacing: 0;
  margin: 0;
  color: var(--color-yellow);
}

.text-header {
  padding: 20px 0 0 0;
}

.divider-hl {
  border-radius: 50px;
  background-color: var(--color-light-gray);
  width: 300px;
  height: 2px;
}

.img-header-contain {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.img-header {
  height: auto;
  width: 85%;
  object-fit: cover;
}

/* -------------- HABILITIES SECTION  ------------------ */

.habilities-section {
  background-image: linear-gradient(to right, #202020, #1f1f1f, #1e1e1e, #1d1d1d, #1c1c1c);
  height: 100vh;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.software-container,
.hability-container {
  width: 45%;
  margin: 0 10px 40px 10px;
  height: 87%;
}

.software-container>h1.section-title {
  padding: 70px 0 0 0;
}

.hability-container>h1.section-title {
  padding: 70px 0 0 0;
}

/* --- ROUNDED PROGRESS --- */

.rounded-progresses {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px;
  align-items: center;
  justify-content: center;
}

div.progress-rounded-contain {
  padding: 0px 13px 0 13px;
  margin: 10px;
  width: 170px;
  height: 170px;
  position: relative;
}

.rounded-progress-animation {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

p.software-text{
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: var(--color-white);
}

/* --- LINEAR PROGRESS --- */

.linear-progress-animation {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.linear-progresses {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 0px;
  align-items: center;
  justify-content: center;
}

div.linear-progress-contain {
  padding: 0px 20px 0 20px;
  margin: 0px;
  width: 550px;
  height: 105px;
  position: relative;
}

p.hability-text{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: var(--color-white);
}

/* --- SPECIAL HABILITY PROGRESS --- */

.special-btn{
  font-family: var(--carbona-bold);
  font-size: 30px;
  top: 5px;
  left: 320px;
  position: relative;
  background-color: rgba(255, 214, 53, 0);
  border: none;
  color: var(--color-yellow);
}

button.special-btn {
  cursor: pointer;
}

/* -------------- WORK  ------------------ */

.header-work {
  background-color: red;
  height: 100vh;
}

.sectiontest{
  background-color: red;
  width: 100%;
  height: 100vh;

}